*{box-sizing: border-box;font-family: 'Poppins', sans-serif;}
:root{
    /*COLORES*/
    --negroTrans: rgba(0, 0, 0, 0.95);
    --negro: #111;
    --negro2: #222;
    --negro3: #333;
    --blanco:#EEE;
    --blanco2:#CCC;
    --blanco3:#AAA;
    --colorSobreNegro: rgb(228, 237, 58);
    --colorSobreBlanco: rgb(27, 38, 163);
}
html[data-theme="dark"]{
    --fondo: var(--negro);
    --fondo2: var(--negro2);
    --fondo3: var(--negro3);
    --colorTexto: var(--blanco);
}
html[data-theme="light"]{
    --fondo: var(--blanco);
    --fondo2: var(--blanco2);
    --fondo3: var(--blanco3);
    --colorTexto: var(--negro);
}
html{font-family: 'Poppins', sans-serif;}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--fondo);
    color: var(--colorTexto);
}
/*ELEMENTOS SUELTOS*/
h1{font-size: 3em;}
h2{}
h3{}
a{text-decoration: none;}
a:hover,button:hover{cursor: pointer;}
input[type='text']{
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    background-color: var(--blanco2);
}
::placeholder{
    font-family: 'Poppins', sans-serif;
}
input[type='text']:focus{
    border: none;
    background-color: var(--blanco2);
}
/*Esto elimina el cuadro azul onClick en moviles*/
input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*FIN ELEMENTOS SUELTOS*/
/*CLASES APOYO*/
.pad-1{padding: 1em;}
.pad-2{padding: 2em;}
.pad-3{padding: 3em;}
.full-screen-height{
    min-height: 100vh;
}
.totally-centered{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.horizontal-centered{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.vertical-centered{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.caja{
    padding: 0.75em;
    margin: 0.5em;
    background-color: var(--fondo2);
}
.input-and-button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
}
.boton:hover{
    cursor: pointer;
}
.boton{
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: var(--blanco);
    margin-top:2em;
}
.boton:disabled{
    background-color: var(--fondo3);
    color: var(--blanco);
}
.btn-success{
    background-color: #23C552;
}
.btn-cancel{
    background-color: #F84F31;
}
/*FIN CLASES APOYO*/

/*TAREA */
.lista-tareas{
    display: flex;
    background-color: var(--fondo3);
    flex-flow: column-reverse nowrap;
    padding:1.2em 0.5em;
    width: 100vw;
}
.tarea-container{
    min-width: 90vw;
    display: flex;
    align-items: stretch;
    background-color: var(--fondo);
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 6px;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
}
.tarea-checkbox-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.iconos-tarea-container{
    display: flex;
    flex-flow: row-reverse;
}
.iconos-tarea-container img{
    aspect-ratio: 1;
    width: 1.2em;
    margin-bottom: 0.5em;
}
.tarea-container p::first-letter{
    font-size: 1.33em;
}
.tarea-container .fecha-tarea{
    position: absolute;
    font-size: 0.5em;
    margin: 0.1em;
    color: var(--blanco3);
    bottom: 0.2em;
    right: 1em;
}
.tarea-container input:checked + label,
.subtarea-li-container input:checked + label{
    text-decoration: line-through;
}
.tarea-container label+span{
    margin-left: 0.5em;
    font-size: 0.7em;
    opacity: 0.3;
}
.tarea-container input[type='checkbox']{
    transform: scale(1.33);
}
.tarea-container .subtarea-li-container input[type='checkbox']{
    transform: scale(1);
}
.btn-borrar-tareas{
    border:none;
    background-color: transparent;
    margin: 1em 1em 1em auto;
    color: red;
    text-decoration: underline;
}
/*FORMULARIO NUEVA TAREA*/
.btn-anadir-subtareas{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--textoColor);
    border:1px solid var(--colorTexto);
    padding:0.5em 1em;
}
.icono-expandir-subtareas,
.icono-borrar-tarea{
    margin-left: auto;
}
.icono-expandir-subtareas:hover,
.icono-borrar-tarea:hover{
    cursor: pointer;
}
ul.preview-subtareas{
    padding: 0em 1em;
    list-style-type: disc;
    list-style-position: inside;
}
.lista-subtareas{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2em;
    margin-left: 1.25em;
    padding: 0.25em;
    width: 95%;
}
.subtarea-li-container{
    background-color: var(--fondo2);
    padding: 0.33em;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 0.8em;
    gap: 0.3em;
    min-height: 2.2em;
}
.subtarea-li-container img{
    width: 1.25em;
}
.lista-subtareas .input-and-button{
    margin: 0.5em 0em;
}
/*FIN FORMULARIO NUEVA TAREA*/
.boton-claro-oscuro{
    width: 80px;
    padding: 0.5em;
    border-radius: 40px;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 1.5em;
    left: -40px;
    justify-content: space-between;
}
.gira180{
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}
.gira-180{
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}
.boton-claro-oscuro:hover{
    cursor: pointer;
}
.boton-claro-oscuro img{
    width: 1.5em;
    transform: rotate(180deg);/*para que la luna se vea bien*/
}

.nav-categorias{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    justify-content: flex-start;
    overflow-y: scroll;
}
.nav-categorias .tab-header-categoria{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0.6em 0.7em;
    font-size: 0.9em;
}
.nav-categorias .tab-header-categoria:hover{
    cursor:pointer;
}
.categoria-activa{
    background-color: var(--fondo3);
}
.nav-categorias-y-boton{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100vw;
    padding: 0em 1em;
    gap: 0.5em;
}
.form-nueva-categoria{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--negroTrans);
    color: var(--blanco2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 5;
    padding: 2em;
}
.form-nueva-categoria ul,
.form-nueva-categoria form{
    padding-left: 2em;
    width: 100%;
}
.texto-click-volver{
    margin-bottom: 4.75em;
    font-size: 0.7em;
    position: absolute;
    bottom: 3em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}
